
html, body {
  margin: 0;
  background: #f4f4f4;
}

/*************************
* LAYOUT
*************************/

/*
+-----------------------------------------+
| layout                                  |
| +------------+ +----------------------+ |
| | aside      | | main                 | |
| | +--------+ | | +------------------+ | |
| | | header | | | | header           | | |
| | +--------+ | | +------------------+ | |
| | +--------+ | | +------------------+ | |
| | | nav    | | | | content          | | |
| | +--------+ | | +------------------+ | |
| +------------+ +----------------------+ |
+-----------------------------------------+
*/

.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.layout__aside,
.layout__main {
  display: flex;
  flex-direction: column;
}

.layout__aside {
  width: 224px;
}
.layout__main {
  flex: 1;
}

.layout__header {
  height: 64px;
  background: #4caf50;
}
.layout__nav,
.layout__content {
  flex: 1;
}

